/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background: #FFFFFF;
	height:100%
}
/*-- banner --*/
.banner-top{
    padding: .5em 0;
}
.banner-top-left{
	float:left;
}
.banner-top-left p{
	color: #000000;
    margin:0;
    font-size: .875em;
    font-weight: 600;	
}
.banner-top-left p a{
	color: #000000;
	text-decoration:none;
}
.banner-top-right{
	float:right;
}
.banner-top-right p{
    color: #000000;
    margin:0;
    font-size: .875em;
    font-weight: 600;	
}
.banner{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.banner-grids{
    margin-top: 9em;
}
.banner-left {
    float: left;
    width: 32%;
    padding: 7.6em 0;
    background: #FFF;
    text-align: center;
    position: relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.banner-logo {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}
.banner-left h1{
    font-size: 7em;
    font-family: 'Dorsa-Regular';
    line-height: .8em;
    margin: 0;
}
.banner-left a{
    text-decoration: none;
    color: #EE732F;
    font-family: 'Parisienne', cursive;
}
.banner-left p{
    color: #000000;
    font-size: .875em;
    margin: 0;
    font-weight: 900;
    letter-spacing: 3px;
}
.banner-logo :before,.banner-logo:after{
    content: "";
	  height: 70.2857%;
    width: 1px;
    position: absolute;
    left: 50%;
    background: #d2d2d2;
}
.banner-logo :before{
    top: -164%;
}
.banner-logo:after{
    bottom: -164%;
}


.banner-right {
    float: right;
    width: 50%;
    background: rgba(255, 255, 255, 0);
    text-align: center;
    position: relative;
}
.banner-top-right-text h2{
	color: #FFFFFF;
    font-size: 1.5em;
    margin: 0 auto 2em;
    padding-bottom: 1em;
    font-weight: 800;
    width: 48%;
    border-bottom: 2px solid #000;
}
.banner-right-info h3{
    color: #FFFFFF;
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.4em;
}
.banner-right-info p{
    color: #FFFFFF;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
/*------------------ Slider Part starts Here----------*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 100%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 16px;
  width: 15px;
  background: transparent url("../images/themes.png") no-repeat left top;
  margin-top: 0;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: 7%;
  background-position: right top;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
	list-style: none;
    position: absolute;
    z-index: 999;
    right: 0;
    padding: 0;
    margin: 0;
    top: 164%;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .2em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }

  .banner-logo img {
   width: 200px
  }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
}
.top-navigation{
    background: rgba(10, 10, 10, 0.62);
    margin-top: 10em;
    border-top: 1px solid rgba(197, 181, 153, 0.4);
    border-bottom: 1px solid rgba(197, 181, 153, 0.4);
}
.navbar-default {
    border: none !important;
    background: none !important;
    margin: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none !important;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
.top-nav ul{
    padding: 0;
    margin: 0;
}
.top-nav ul li{
    display: inline-block;
    margin: 0;
    float: left;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
    border-right: solid 1px #EFEFEF;
    border-right: 1px solid rgba(197, 181, 153, 0.4);
}
.top-nav ul li a{
    color: #FFFFFF !important;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 2em 2.5em;
    border-right: 1px solid rgba(197, 181, 153, 0.4);
}
.top-nav ul li a:hover{
    color: #EE732F !important;
    background:#FFF !important;
}
.top-nav ul li a.active{
	color: #EE732F !important;
    border-left: 1px solid rgba(197, 181, 153, 0.4);
    background:#FFF;
}
.caret {
    margin-left: 14px;
}
ul.dropdown-menu {
    background: rgba(10, 10, 10, 0.62);
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 6em;
    left: 0;
    min-width: 107px;
}
.dropdown-menu > li > a {
	display: block;
    padding: 3px 80px !important;
    clear: both;
    margin: .5em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.open > .dropdown-menu {
    background: #313131 !important;
}
.open > .dropdown-menu:hover {
	
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.more-button a{
    border: solid 2px #FFF;
    color: #FFF;
    font-size: .875em;
    padding: .5em 2em;
    text-decoration: none;
    letter-spacing: 1px;
}
.more-button {
    margin: 3em 0 1em 0;
}	
.more-button a:hover{
    background: #000000;
    border: solid 2px #FFF;
}
/*-- welcome --*/
.welcome {
    padding: 6em 0 6em;
}
.welcome-left {
    margin: 2em 0 0 0;
}
.welcome-left h3,.services-info h3{
    color: #EE732F;
    font-size: 4em;
    font-weight: 100;
    font-family: 'Cinzel Decorative', cursive;
    margin: 0;
}
.welcome-left h4{
    color: #313131;
    font-size: .875em;
    font-weight: 600;
    line-height: 1.8em;
    margin: 2em 0 1em 0;
}
.welcome-left p{
    color: #BBBBBB;
    font-size: .875em;
    line-height: 1.8em;
    margin: 0;
}
.welcome-right{
	position:relative;
}
.welcome-right-top img{
    width: 70%;
}
.welcome-right-bottom{
    position: absolute;
    top: 37%;
    z-index: -1;
    left: 34%;
}
.welcome-right-bottom img{
    width: 100%;
}
/*-- welcome-bottom --*/
.welcome-bottom-left{
	background: #C0DEF7;
    padding:0;
}
.welcome-bottom-left-grid{
	padding: 5em 5em 5em 14em;
}
.welcome-bottom-left-grid h3{
    font-size: 2em;
    color: #313131;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3em;
}
.welcome-bottom-left-grid h4 {
    color: #313131;
    font-size: .875em;
    font-weight: 600;
    line-height: 1.8em;
    margin: 2em 0 1em 0;
}
.welcome-bottom-left-grid p{
	color: #313131;
    font-size: .875em;
    line-height: 1.8em;
    margin: 2em 0 0 0;
}
.welcome-button a {
    border: solid 2px #313131;
    color: #313131;
}
.welcome-button a:hover{
	border: solid 2px #FFFFFF;
    color: #FFFFFF;
	background:none;
}
.welcome-bottom-right{
    background: url(/front-end/images/burj_khalifa.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 600px;
}
.welcome-bottom-right-top{
	padding: 7.6em 0;
    width: 350px;
    height: 350px;
    margin: 8em auto 0;
    background: none;
    border: solid 3px #FFF;
    text-align: center;
    position: relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.welcome-bottom-right-info{
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    margin: 0 0 0 1em;
}
.welcome-bottom-right-info h3{
	font-size: 2em;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3em;
}
.welcome-right-button a{
	
}
/*-- services --*/
.services{
	padding:5em 0;
}
.services-grids {
    margin: 4em 0 0 0;
}
.services-info h3{
	text-align:center;
}
.services-grid-top{
	box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.services-grid-img img{
	width:100%;
}
.services-grid-info{
    padding: 2em;
    background: #FFF;
}
.services-grid-info h4{
    font-size: 1em;
    color: #313131;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3em;
    padding-bottom: 2em;
    border-bottom: solid 1px #DADADA;
}
.services-grid-info p{
    color: #313131;
    font-size: .875em;
    line-height: 1.8em;
    margin: 2em 0 0 0;
}
.services-right{
    padding: 2.5em;
    background: #5BD899;
    text-align: center;
}
.services-right:nth-child(2){
	margin:1em 0;
	background:#EAC14C;
}
.services-right:nth-child(3) {
    background: #EE732F;
}
.services-right h4{
    font-size: 2em;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
}
.services-right p{
    color: #FFFFFF;
    font-size: .875em;
    line-height: 1.8em;
    margin: .5em 0 0 0;
}
/*-- //services --*/
/*-- footer --*/
.footer{
    padding: 4em 0;
    background: #C0DEF7;
}
.footer-heading h3{
    font-size: 2em;
    color: #313131;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3em;
    text-align: center;
}
.footer-icons{
    margin: 4em 0 0 0;
    text-align: center;
}
.footer-icons ul{
	padding:0;
	margin:0;
}
.footer-icons ul li {
    display: inline-block;
    margin: 0 2.5em;
}
.footer-icons  ul li a.twitter {
    background: url(../images/icons.png) no-repeat 0px 0px;
    width: 80px;
    height: 80px;
    display: block;
}
.footer-icons  ul li a.facebook {
    background: url(../images/icons.png) no-repeat -80px 0px;
    width: 80px;
    height: 80px;
    display: block;
}
.footer-icons  ul li a.chrome {
    background: url(../images/icons.png) no-repeat -160px 0px;
    width: 80px;
    height: 80px;
    display: block;
}
.footer-icons  ul li a.dribbble {
    background: url(../images/icons.png) no-repeat -240px 0px;
    width: 80px;
    height: 80px;
    display: block;
}
.footer-icons ul li a.twitter:hover{
	opacity:0.5;
}
.footer-icons ul li span{
    display: block;
    margin: 1em 0 0 0;
    color: #313131;
    font-size: 1em;
    font-weight: 600;
}
.footer-bottom {
    background: #313131;
    padding: 2em 0;
    text-align: center;
}
.footer-nav ul {
    padding: 0;
    margin: 0;
}
.footer-nav ul li {
    display: inline-block;
    margin: 0 2em;
}
.footer-nav ul li a {
    color: #FFFFFF;
    font-size: .875em;
	text-decoration:none;
}
.footer-nav ul li a:hover{
	color: #EE732F;
}
.copyright{
	margin:2em 0 0 0;
}
.copyright p{
	color:#FFFFFF;
	font-size:.875em;
	margin:0;
}
.copyright p a{
	color:#FFFFFF;
}
.copyright p a:hover{
	color: #EE732F;
}
/*-- about --*/
.about-left{
    float: none !important;
    margin: 0 auto !important;
	width: 13.3% !important;
    padding: 3.4em 0 !important;
}
.about-left h1 {
    font-size: 3em !important;
}
.about-logo :before {
    top: -196% !important;
}
.about-logo:after {
    bottom: -196% !important;
}
.about-grids{
	margin-top: 4em;
}
.about-navigation {
    margin-top: 5em;
}
/*-- about --*/
.about-top {
  padding-bottom: 4em;
}
.about-info {
  margin: 3em 0;
  text-align: center;
}
.about-info h2,.codes-info h2,.gallery-info h2,.blog-info h2,.contact-info h2{
	margin: 0;
    color: #EE732F;
    font-size: 4em;
    font-weight: 100;
    font-family: 'Cinzel Decorative', cursive;
}
.about-team h3,.about-bottom h3{
	margin: 0;
    color: #EE732F;
    font-size: 3.5em;
    font-weight: 100;
    font-family: 'Cinzel Decorative', cursive;
}
.about-team h3{
	color:#313131;
	text-align:center;
}
.about-top-grid h4{
    color: #313131;
    font-size: .875em;
    margin: 0;
    font-weight: 600;
    line-height: 1.8em;
}
.about-top-grid p {
    margin: 1em 0 0 0;
    color: #BBBBBB;
    font-size: .875em;
    line-height: 1.8em;
}
.about-top-grid img{
	width:100%;
}
.about-right {
  background: url(../images/1.jpg) no-repeat 0px 0px;
  background-size: cover;
  float: left;
  min-height: 380px;
  width: 40%;
}
.about-bottom {
  padding: 4em 0;
}
.about-bottom-grids {
  margin-top: 4em;
}
.about-bottom h3 {
    text-align: center;
}
.about-bottom-left h4 {
    margin: 0;
    font-size: 1em;
    color: #313131;
    text-transform: uppercase;
    font-weight: 800;
}
.about-bottom-left p {
    margin: 2em 0 0 0;
    color: #BBBBBB;
    font-size: .875em;
    line-height: 1.8em;
}
.about-bottom-left p span {
  display: block;
  margin: 2em 0;
}
.about-team {
    padding: 3em 0;
    background: #C0DEF7;
}
.team-grids {
  margin-top: 3em;
}
.about-team h4 {
    color: #313131;
    font-size: 4em;
    margin: 0;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}
.team-grid{
	position:relative;
}
.team-grid img {
  width: 100%;
}
.team-grid h6 {
    margin: 1em 0 1em 0;
    font-size: 1em;
    color: #313131;
    text-transform: uppercase;
    font-weight: 800;
}
.team-grid p {
    margin: 0 0 2em 0;
    color: #313131;
    font-size: .875em;
    line-height: 1.8em;
}
.icons{
    display: none;
    position: absolute;
    bottom: 0;
    padding: 1em;
    background: #EE732F;
    width: 100%;
    text-align: center;
}
.icons ul {
    padding: 0;
    margin: 0;
}
.icons ul li {
    display: inline-block;
    margin: 0 .2em;
}
.icons ul li a.twitter {
    background: url(../images/social.png) no-repeat 0px 0px;
    width: 30px;
    height: 30px;
    display: block;
}
.icons ul li a.facebook {
    background: url(../images/social.png) no-repeat -30px 0px;
}
.icons ul li a.chrome {
    background: url(../images/social.png) no-repeat -60px 0px;
}
.icons ul li a.dribbble {
    background: url(../images/social.png) no-repeat -90px 0px;
}
.icons ul li a.twitter:hover {
    opacity: .5;
}
.team-grid-img{
	position:relative;
}
.team-grid-img:hover div.icons{
	display:block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--Shortcodes--*/
.codes-info {
	text-align:center;
	margin:3em 0;
}
.codes-heading {
    text-align: center;
}
h3.hdg {
    font-size: 2.5em;
	color:#000 !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
	margin-bottom:1em;
	color: #333;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
.grid_4 {
    margin-top: 30px;
}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 13px!important;
	}
	.codes .row {
		margin: 0;
	}
}
/*--//Shortcodes--*/
/*-- gallery --*/
.gallery {
    padding: 4em 0;
}
.gallery-info h2{
	text-align:center;
}
.gallery-grids {
    margin: 2em 0 0 0;
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;	
	overflow: hidden;
	margin: 10px 0;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
    word-spacing: -0.15em;
    font-size: 1.5em;
    margin-top: 18%;
    color: #FFF;
    font-weight: 600;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*---------------*/
/***** Layla *****/
/*---------------*/



figure.effect-layla figcaption {
	padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
/*-----------------*/
/***** Apollo *****/
/*-----------------*/


figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-apollo h2 {
	text-align: left;
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption {
	padding: 3em;
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h4 {
    padding: 0% 0;
}

figure.effect-chico p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*-- blog --*/
.blog {
    padding: 5em 0;
}
.blog-info{
	text-align:center;
}
.blog-top-grids {
    margin: 4em 0 0 0;
}
.blog-left {
  margin: 0em 0 2em 0;
  padding-right: 1em;
}
.blog-left-right {
  margin-top: 1em;
}
.blog-left-right a{
    text-decoration: none;
    margin: 1em 0 1em 0;
    font-size: 1em;
    color: #313131;
    text-transform: uppercase;
    font-weight: 800;
}
.blog-left-right a:hover{
    text-decoration: none;
    color: #EE732F;
}
.blog-left-left {
	padding: 0 !important;
}
.blog-left-left p{
    margin: 0 0 1em;
    font-size: .9em;
    color: #555555;
}
.blog-left-left p a {
    color: #f25826;
    text-decoration: none;
}
.blog-left-left a img{
	width:100%;
}
.blog-left-right p{
    margin: 1em 0 0 0;
    color: #BBBBBB;
    font-size: .875em;
    line-height: 1.8em;
}
ul.pagination {
  margin: 2em 0 0;
}
.blog-top-left-grid {
    float: right;
}
.blog-top-right-grid {
    float: left;
}
.Categories {
	margin:0;
}
.Categories h3{
    font-size: 1.5em;
    margin: 0 0 1em 0;
    padding-bottom: .5em;
    color: #EE732F;
    font-family: 'Cinzel Decorative', cursive;
}
.Categories ul{
	margin:0;
	padding:0;
}
.Categories ul li{
    display: block;
    background: url(../images/arrow.png) no-repeat 0px 2px;
    margin-bottom: 1em;
}
.Categories ul li a{
    font-size: .875em;
    margin: 0;
    color: #BBBBBB;
    padding-left: 2em;
}
.Categories ul li a:hover{
  color: #f25826;
  text-decoration: none;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}
.comments{
	margin: 4em 0;
}
.comments h3{
    font-size: 1.5em;
    margin: 0 0 1em 0;
    padding-bottom: .5em;
    color: #EE732F;
    font-family: 'Cinzel Decorative', cursive;
}
.comments-left{
    padding: .5em;
    border: 1px solid #000000;
}
.comments-left img{
	width:100%;
}
.comments-right h5{
    font-size: 1.1em;
    margin: 0 0 .5em 0;
    color: #000000;
    font-weight: 600;
}
.comments-right a{
    font-size: 1em;
    margin: 0;
    color: #575353;
    text-decoration: none;
}
.comments-right a:hover{
	text-decoration:none;
}
.comments-right p{
    display: block;
    color: #B1B1B1;
    margin: .3em 0 0 0;
    font-size: .8em;
}
.comments-text {
	padding: 1.5em 0;
	border-bottom: 1px solid #868686;
}
.comments-text:nth-child(4) {
	border: none;
}
/*-- single --*/
.single-left-left p{
    margin: 0 0 1em;
    font-size: .9em;
    font-weight: 500;
    color: #555555;
}
.single-left-left p a {
    color: #f25826;
    text-decoration: none;
}
.single-left-left img{
	width:100%;
}
.left-single{
	padding-right: 2em;
}
.response {
    margin-bottom: 5em;
}
.response h3 {
    font-size: 1.5em;
    margin: 0 0 1em 0;
    color: #EE732F;
    font-family: 'Cinzel Decorative', cursive;
}
.media.response-info {
    margin-top: 3em;
}
.media-left.response-text-left {
    width: 13%;
    float: left;
}
.media-left.response-text-left a img {
    width: 80%;
}
.media-left.response-text-left h5 a {
    color: #EE732F;
}
.response-text-left h5 {
    font-size: 1em;
    margin: 1em 0 0 0;
    color: #000;
}
.response-text-right p {
    margin: 1em 0 0 0;
    color: #BBBBBB;
    font-size: .875em;
    line-height: 1.8em;
}
.response-text-right ul {
    padding: 0;
    text-align: right;
}
.response-text-right ul li {
    display: inline-block;
    color: #AFAFAF;
    font-size: .9em;
    margin-right: 1em;
}
.response-text-right ul li a {
    color: #f25826;
    font-size: .9em;
    text-decoration: none;
}
.media.response-info {
    margin-top: 3em;
}
.opinion h3{
    font-size: 1.5em;
    margin: 0 0 1em 0;
    padding-bottom: .5em;
    color: #EE732F;
    font-family: 'Cinzel Decorative', cursive;
}
.opinion form input[type="text"] {
    width: 100%;
    color: #898888;
    outline: none;
    font-size: 1em;
    padding: .5em;
    margin: 0 .5em 1em 0;
    border: solid 1px #D5D4D4;
    -webkit-appearance: none;
}
.opinion form textarea {
	resize: none;
	width: 100%;
	color: #898888;
	font-size: 1em;
	outline: none;
	resize:none;
	padding: .5em;
	border: solid 1px #D5D4D4;
	min-height: 125px;
	-webkit-appearance: none;
}
.opinion form input[type="submit"] {
    outline: none;
    -webkit-appearance: none;
    border: solid 2px #313131;
    font-size: .875em;
    color: #313131;
    font-weight: 600;
    padding: .7em 1em;
    text-decoration: none;
    letter-spacing: 1px;
    background: none;
    margin: 1em 0 0;
}
.opinion form input[type="submit"]:hover {
	color:#EE732F;
	border: solid 2px #EE732F;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}
.blog-left-bottom p{
    margin: 1em 0 0 0;
    color: #BBBBBB;
    font-size: .875em;
    line-height: 1.8em;
}
.blog-left-bottom {
	margin: .5em 0;
}
/*-- contact --*/
.contact-info {
  margin: 3em 0;
  text-align: center;
}
.contact-info h3 {
  color: #6E6E6E;
  font-size: 4em;
  margin: 0;
  font-family: 'Dorsa-Regular';
  letter-spacing: 2px;
}
.contact-info p {
  color: #B2B2B2;
  font-size: .9em;
  margin: 1em auto 0;
  line-height: 1.8em;
  width: 70%;
}
.map iframe {
  width: 100%;
  min-height: 400px;
  border: none;
}
.mail-grids {
  margin: 3em 0;
}
.mail-grid-left h3 {
    color: #EE732F;
    font-size: 2em;
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Cinzel Decorative', cursive;
}
.mail-grid-left h5 {
    color: #313131;
    font-size: .875em;
    margin: 0;
    font-weight: 600;
    line-height: 1.8em;
}
.mail-grid-left h5 span {
  display: block;
}
.mail-grid-left h4 {
    color: #313131;
    font-size: .875em;
    font-weight: 800;
    text-transform: uppercase;
    margin: .5em 0;
}
.mail-grid-left p {
    color: #BBBBBB;
    font-size: .875em;
    margin: 1em 0;
    line-height: 1.8em;
}
.mail-grid-left p a{
    color: #EE732F;
    text-decoration: none;
}
.mail-grid-left p span {
  display: block;
}
.contact-form form {
  text-align: right;
}
.contact-form input[type="text"] {
  width: 100%;
  color: #919191;
  background: none;
  outline: none;
  font-size: .9em;
  padding: .5em;
  margin-bottom: 1em;
  border: solid 1px #919191;
  -webkit-appearance: none;
}
.contact-form textarea {
  resize: none;
  width: 100%;
  background: none;
  color: #919191;
  font-size: .9em;
  outline: none;
  padding: .5em;
  border: solid 1px #919191;
  min-height: 150px;
  -webkit-appearance: none;
}
.contact-form input[type="submit"] {
    outline: none;
    -webkit-appearance: none;
    border: solid 2px #313131;
    font-size: .875em;
    color: #313131;
    font-weight: 600;
    padding: .7em 1em;
    text-decoration: none;
    letter-spacing: 1px;
    background: none;
    margin: 1em 0 0;
}
.contact-form input[type="submit"]:hover {
    color: #EE732F;
    border: solid 2px #EE732F;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
@media(max-width:1440px){
	.welcome-bottom-left-grid {
		padding: 5em 5em 5em 10em;
	}
}
@media(max-width:1366px){
	.welcome-bottom-left-grid {
		padding: 5em 5em 5em 8em;
	}
}
@media(max-width:1366px){
	.welcome-bottom-left-grid {
		padding: 5em 5em 5em 5em;
	}
}
@media(max-width:1080px){
	.banner-left h1 {
		font-size: 5em;
	}
	.banner-left {
		padding: 5.6em 0;
		width: 28%;
	}
	.banner-left p {
		font-size: .7em;
		letter-spacing: 1px;
	}
	.top-nav ul li a {
		padding: 2em 3em;
	}
	.top-navigation {
		margin-top: 4em;
	}
	.dropdown-menu > li > a {
		padding: 3px 58px !important;
	}
	.welcome-bottom-left-grid h3 {
		font-size: 1.2em;
	}
	.welcome-bottom-left-grid p {
		margin: 1em 0 0 0;
	}
	.welcome-bottom-right {
		min-height: 587px;
	}
	figure.effect-chico figcaption {
		padding: 2.5em 0 0 0;
	}
	figure.effect-chico h4 {
		margin: 0;
	}
	.about-left {
		width: 17% !important;
		padding: 3.6em 0 !important;
	}
	.about-logo :before {
		top: -208% !important;
	}
	.about-logo:after{
		bottom: -208% !important;	
	}
}
@media(max-width:1024px){
	.banner-left {
		margin: 0em 0 0 3em;
	}
	.welcome-bottom-left-grid {
		padding: 4em 5em 3em 5em;
	}
	.welcome-bottom-right-top {
	    padding: 4.6em 0;
		width: 300px;
		height: 300px;
		margin: 8em auto 0;
	}
	.welcome-bottom-right-info {
		margin: 0 0 0 1em;
	}
	.services-grid-info {
		padding: 2em;
	}
	.services-right {
		padding: 1.5em;
	}
	.grid figure h3 {
		margin-top: 11%;
	}
}
@media(max-width:991px){
	.banner-right-info h3 {
		font-size: 1.2em;
	}
	.banner-left {
		width: 37%;
		margin:0;
	}
	.banner-top-right-text h2 {
		width: 80%;
	}
	.top-nav ul li a {
		padding: 2em 2em;
	}
	.welcome-left {
		margin: 0;
	}
	.welcome-right {
		margin: 3em 0;
	}
	.welcome {
		padding: 3em 0 6em;
	}
	.welcome-bottom-right {
		min-height: 530px;
	}
	.welcome-bottom-right-top {
		margin: 0px auto 0;
	}
	.welcome-bottom-right-top-info{
		padding: 7em;
	}
	.welcome-left h3, .services-info h3 {
		font-size: 3em;
	}
	.services-grid {
		margin-bottom: 2em;
	}
	.about-left {
	    width: 17% !important;
		padding: 2.6em 0 !important;
	}
	.about-left h1 {
		font-size: 2.5em !important;
	}
	.about-logo :before {
		top: -182% !important;
	}
	.about-logo:after {
		bottom:-182% !important;
	}
	.team-grid {
		float: left;
		width: 50%;
	}
	.about-bottom-left.about-bottom-right {
		margin: 2em 0 0 0;
	}
	.dropdown-menu > li > a {
		padding: 3px 43px !important;
	}
	figure.effect-chico h4 {
		font-size: 3em;
	}
	figure.effect-chico h4 {
		font-size: 3em;
	}
	figure.effect-chico figcaption {
		padding: 7.5em 0 0 0;
	}
	.grid figure h3 {
		margin-top: 21%;
	}
	.blog-top-right-grid {
		margin: 2em 0 0 0;
	}
	.about-info h2, .codes-info h2, .gallery-info h2, .blog-info h2, .contact-info h2 {
		font-size: 3em;
	}
	.about-team h3, .about-bottom h3 {
		font-size: 2.5em;
	}
	.comments-left {
		float: left;
		width: 20%;
		margin-right: 1em;
	}
}
@media(max-width:800px){
	.banner-left {
		margin: 0em 0 0 2em;
	}
}
@media(max-width:768px){
	.banner-left h1 {
		font-size: 4em;
	}
	.banner-left {
		width: 35%;
	}
	.banner-left {
		margin: 0em 0 0 3em;
	}
	.banner-logo :before {
		top: -192%;
	}
	.banner-logo:after {
		bottom: -192%;
	}
}
@media(max-width:640px){
	.banner-left {
		margin: 0 auto;
		float: none;
		text-align: center;
		padding: 3.6em 0;
		width: 170px;
		height: 170px;
	}
	.banner-right {
		float: none;
		width: 100%;
		margin: 5em 0 0 0;
	}
	.banner-left h1 {
		font-size: 3em;
	}
	.banner-logo :before {
	    top: -122%;
		left: 54%;
	}
	.banner-logo:after {
	    bottom: -105%;
		left: 54%;
	}
	.banner-grids {
		margin-top: 5em;
	}
	.navbar-default .navbar-toggle {
		border-color: #FFF !important;
		color: #FFF !important;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #4C1B09 !important;
	}
	.top-nav ul li {
		display: block;
		margin: 0;
		float: none;
		text-align: center;
	}
	.top-nav ul li a {
		padding: 1em;
		border:none;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		border-right: none;
	}
	div#bs-example-navbar-collapse-1 {
	    padding: 0;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.44);
		z-index: 99;
		width: 100%;
	}
	.footer-icons ul li {
		display: inline-block;
		margin: 0 1.5em;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 8px 0px !important;
	}
	.about-left {
		width: 120px !important;
		height: 120px !important;
	}
	figure.effect-chico h4 {
		font-size: 2em;
	}
	.about-logo :before {
		top: -196% !important;
		left: 50% !important;
	}
	.about-logo:after {
		bottom: -188% !important;
		left: 50% !important;
	}

}
@media(max-width:480px){
	.banner-left {
	    width: 135px;
		height: 135px;
		padding: 2.6em 0;
	}
	.banner-logo :before {
		left: 51%;
	}
	.banner-left h1 {
		font-size: 2em;
	}
	.banner-left p {
		font-size: .6em;
		letter-spacing: 0px;
	}
	.banner-logo :before {
		top: -124%;
	}
	.banner-logo:after {
		bottom: -120%;
		left: 51%;
	}
	.banner-top-right-text h2 {
		width: 44%;
		font-size: 1em;
		margin: 0 auto 1em;
	}
	.banner-right-info h3 {
		font-size: 1em;
	}
	.welcome {
		padding: 3em 0 4em;
	}
	.welcome-bottom-left-grid {
		padding: 3em 2em;
	}
	.welcome-bottom-right-top {
		width: 200px;
		height: 200px;
	}
	.welcome-bottom-right-info h3 {
		font-size: 1em;
	}
	.more-button {
		margin: 1em 0 1em 0;
	}
	.more-button a {
		padding: .5em 1em;
	}
	.welcome-bottom-right {
	    min-height: 350px;
	}
	.welcome-bottom-right-top-info {
		padding: 5em 0 0 0;
	}
	.welcome-left h3, .services-info h3 {
		font-size: 2em;
	}
	.services {
		padding: 3em 0;
	}
	.services-grids {
		margin: 2em 0 0 0;
	}
	.footer {
		padding: 3em 0;
	}
	.footer-icons ul li {
		margin: 0 .5em;
	}
	.footer-nav ul li {
		margin: 0 1em;
	}
	.top-navigation {
		margin-top: 3em;
	}
	.about-left h1 {
		font-size: 2em !important;
	}
	.about-left {
	    width: 110px !important;
		height: 110px !important;
	}
	.about-logo :before {
		top: -220% !important;
	}
	.about-logo:after {
		bottom: -220% !important;
	}
	.about-grids {
		margin-top: 3em !important;
	}
	.about-info h2, .codes-info h2, .gallery-info h2, .blog-info h2, .contact-info h2 {
		font-size: 2em;
	}
	.about-info {
		margin: 2em 0;
	}
	.about-team h3, .about-bottom h3 {
		font-size: 2em;
	}
	.icons ul li {
		margin: 0 0em;
	}
	.about-bottom {
		padding: 3em 0;
	}
	.about-bottom-grids {
		margin-top: 2em;
	}
	.footer-icons {
		margin: 2em 0 0 0;
	}
	.grid figure h3 {
		margin-top: 10%;
	}
	figure.effect-chico figcaption {
		padding: 5em 0 0 0;
	}
	.blog {
		padding: 3em 0;
	}
	.blog-top-grids {
		margin: 2em 0 0 0;
	}
	.blog-left {
		padding-right: 0;
	}
	.media-left.response-text-left {
		width: 21%;
	}
	.footer-heading h3 {
		font-size: 1.5em;
	}
}
@media(max-width:320px){
	.banner-top-left {
		float: none;
		text-align: center;
	}
	.banner-top-right {
		float: none;
		text-align: center;
	}
	.banner-grids {
		margin-top: 3em;
	}
	.banner-left {
		width: 110px;
		height: 110px;
		padding: 1.6em 0;
	}
	.banner-left h1 {
		font-size: 1.9em;
	}
	.banner-logo :before, .banner-logo:after {
		height: 50.2857%;
	}
	.banner-logo :before {
		top: -86%;
		left: 49%;
	}
	.banner-logo:after {
		bottom: -94%;
		left: 49%;
	}
	.banner-right {
		margin: 3em 0 0 0;
	}
	.banner-top-right-text h2 {
		width: 68%;
	}
	.banner-right-info p {
		font-size: .8em;
	}
	.top-navigation {
		margin-top: 1em;
	}
	.top-nav ul li a {
		padding: .5em 0;
	}
	.welcome {
		padding: 2em 0;
	}
	.welcome-left h4 {
		font-size: .8em;
	}
	.welcome-left p {
		font-size: .8em;
	}
	.welcome-right {
		margin: 2em 0;
	}
	.welcome-bottom-left-grid {
		padding: 2em 2em;
	}
	.welcome-bottom-left-grid h3 {
		font-size: 1em;
	}
	.welcome-bottom-left-grid h4 {
		font-size: .8em;
		margin: 1em 0 1em 0;
	}
	.welcome-bottom-left-grid p {
		font-size: .8em;
	}
	.welcome-bottom-right-top {
		width: 170px;
		height: 170px;
	}
	.welcome-bottom-right-info h3 {
		font-size: .875em;
	}
	.welcome-bottom-right-top {
	    padding: 3em 0;
	}
	.welcome-bottom-right-info {
		margin: 0 0 0 0.1em;
	}
	.services {
		padding: 2em 0;
	}
	.welcome-left h3, .services-info h3 {
		font-size: 1.5em;
	}
	.services-grid-info {
		padding: 1em;
	}
	.services-grid-info h4 {
		padding-bottom: 1em;
		font-size: .875em;
	}
	.services-grid-info p {
		font-size: .8em;
		margin: 1em 0 0 0;
	}
	.services-right {
		padding: 1em;
	}
	.services-right h4 {
		font-size: 1.5em;
	}
	.services-right p {
		font-size: .8em;
	}
	.services-grid {
		margin-bottom: 1em;
	}
	.footer {
		padding: 2em 0;
	}
	.footer-heading h3 {
		font-size: 1em;
	}
	.footer-icons ul li span {
		font-size: .7em;
	}
	.footer-icons ul li a.twitter {
		background: url(../images/icons.png) no-repeat 0px 0px;
		width: 40px;
		height: 40px;
		display: block;
	    background-size: 398%;
	}
	.footer-icons ul li a.facebook {
		background: url(../images/icons.png) no-repeat -39px 0px;
	    background-size: 398%;
	}
	.footer-icons ul li a.chrome {
		background: url(../images/icons.png) no-repeat -80px 0px;
		background-size: 398%;
	}
	.footer-icons ul li a.dribbble {
		background: url(../images/icons.png) no-repeat -120px 0px;
		background-size: 398%;
	}
	.footer-nav ul li {
		margin: 0 .5em;
	}
	.copyright {
		margin: 1em 0 0 0;
	}
	.about-top-grid h4 {
		font-size: .8em;
	}
	.about-info {
		margin: 2em 0 1em;
	}
	.about-top-grid p {
		font-size: .8em;
	}
	.about-team {
		padding: 2em 0;
	}
	.team-grid {
		float: none;
		width: 100%;
	}
	.about-bottom {
		padding: 2em 0;
	}
	.about-team h3, .about-bottom h3 {
		font-size: 1.5em;
	}
	.about-bottom-grids {
		margin-top: 1em;
	}
	.about-bottom-left p {
		font-size: .8em;
	}
	.about-bottom-left p span {
		margin: 1em 0;
	}
	.codes-info {
		margin: 2em 0;
	}
	.gallery {
		padding: 2em 0;
	}
	.grid figure h3 {
		font-size: 1em;
	}
	.grid figure h3 {
	    margin-top: 1em;
	}
	figure.effect-layla figcaption {
		padding: 1em;
	}
	figure.effect-layla figcaption::before {
	    top: 19px;
		bottom: 23px;
	}
	figure.effect-layla figcaption::after {
		right: 30px;
		left: 30px;
	}
	figure.effect-layla p {
		padding: 0.2em;
	}
	figure.effect-chico h4 {
		font-size: 1em;
	}
	figure.effect-chico figcaption {
		padding: 3em 0 0 0;
	}
	.blog {
		padding: 2em 0;
	}
	.blog-left-right a {
		font-size: .8em;
	}
	.blog-left-right p {
		font-size: .8em;
	}
	.Categories ul li a {
		font-size: .8em;
	}
	.comments {
		margin: 2em 0;
	}
	.comments h3 {
		font-size: 1.3em;
	}
	.comments-right a {
		font-size: .8em;
	}
	.comments-text {
		padding: 1em 0;
	}
	.left-single {
		padding-right: 0;
	}
	.blog-left-bottom p {
		font-size: .8em;
	}
	.response-text-right p {
		font-size: .8em;
	}
	.media-left.response-text-left {
		width: 30%;
	}
	.response {
		margin-bottom: 2em;
	}
	.opinion h3 {
		font-size: 1.2em;
	}
	.contact-info {
		margin: 2em 0;
	}
	.map iframe {
		min-height: 200px;
	}
	.mail-grid-left h3 {
		font-size: 1.5em;
	}
	.mail-grid-left h5 {
		font-size: .8em;
	}
	.mail-grid-left p {
		font-size: .8em;
	}
	.mail-grids {
		margin: 2em 0;
	}
}